/** Simplificados **/
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.margin-top-20px{
	margin-top: 20px;
}
.color-purpura{
	color: #3e0068;
}
.color-gray{
	color: #737273;
}
.color-dorado{
	color: #7e6d23;
}
header{
	color: #ffffff;
	background-color: #000000;
	padding: 10px 0px 0px 0px;

	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
}
header h1{
	margin-bottom: 0px;
}
.datos-ciudad-header img, .datos-ciudad-header p, .datos-tel-header img, .datos-tel-header p  {
	display: inline-block;
	vertical-align: middle;
}
.datos-ciudad-header, .datos-tel-header{
	margin-top: 20px;
}
.datos-ciudad-header p {
	margin-bottom: 0px;
	font-weight: bold: 500;
	font-size: 24px;
	margin-left: 10px;
	line-height: 20px;
	letter-spacing: 1px;
}
.datos-ciudad-header p span{
	font-size: 16px;
}
.datos-tel-header{
	float: right;
}
.datos-tel-header p{
	letter-spacing: 1px;
	font-size: 16px;	
	margin-bottom: 0px;
	margin-left: 10px;
}
.datos-tel-header a{
	text-decoration: none;
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
}

/** Nav **/
.nav{
	margin-top: 0px;
	background-color: #080123;	
	text-align: center;
}
nav ul{
	margin: 0px;
	padding: 10px 0px;
}
nav ul li{
	margin: 0px;
	display: inline-block;
}
nav ul li a{
	color: #ffffff;
	text-decoration: none;
	padding: 0px 20px;
	font-weight: bold;
	letter-spacing: .5px;
}
nav ul li a:hover{
	color: #DBDBDB;
}
a.boton-ticket-header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8a043+0,aa5b12+100 */
background: #e8a043; /* Old browsers */
background: -moz-linear-gradient(top,  #e8a043 0%, #aa5b12 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e8a043 0%,#aa5b12 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e8a043 0%,#aa5b12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8a043', endColorstr='#aa5b12',GradientType=0 ); /* IE6-9 */

padding: 5px 20px;
border-radius: 2px;
}

a.boton-ticket-header:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8a043+0,aa5b12+100 */
background: #e8a043; /* Old browsers */
background: -moz-linear-gradient(left,  #e8a043 0%, #aa5b12 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e8a043 0%,#aa5b12 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e8a043 0%,#aa5b12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8a043', endColorstr='#aa5b12',GradientType=1 ); /* IE6-9 */
color: #ffffff;
}
/** Primer Bloque **/
.bloque-purpura{
	margin-top: 140px;
	color: #ffffff;
	background-image: url(library/img/bg-purpura.jpg);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}

.bloque-purpura h2{
	padding-top: 20px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0px 4px 4px #000000;
	margin-bottom: 5px;
}
.bloque-purpura h1{
	font-size: 50px;
	letter-spacing: 1px;

}
.bloque-purpura hr{
	border-top: 2px solid rgba(255,255,255,.5);
	margin-bottom: 5px;
	margin-top: 5px;
	width: 90%;
}
.bloque-purpura h3{
	padding-top: 20px;
	font-size: 18px;
	letter-spacing: 1px;
	text-shadow: 0px 4px 4px #000000;
	margin-bottom: 5px;
}
.formulario{
	background-color: #390062;
	padding: 5px 40px;
	border-radius: 15px;
}
.formulario h3{
	font-size: 26px;
	margin-bottom: 10px;
	text-shadow: none;
	font-weight: bold;
}
.formulario label{
	font-size: 12px;
}
.formulario input[type="submit"]{
	font-size: 16px;
}
.nombre-expositores h2{
	font-size: 18px;
	text-shadow:none;
	line-height: 24px;
}
.fechas-neuro-codificacion{
	margin-top: 30px;
}
.fechas-neuro-codificacion img, .fechas-neuro-codificacion p{
	display: inline-block;
	vertical-align: middle;
}
.fechas-neuro-codificacion p{
	margin-bottom: 0px;
	margin-left: 10px;
	font-size: 18px;
}
.nombre-expositores a{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
}
.boton-tickets-neuro{
	margin-top: 40px;
}
/** People ***/
.people{
	margin-top: 60px;
}
.people img{
	vertical-align: middle;
}
.jurgen-photo img{
	position: relative;
	top: -40px;
	z-index: 300;
}
.mauricio-people img{
	position: relative;
	right: 50px;
	z-index: 100;
	top: 30px;
}
.nora-people img{
	position: relative;
	top: 10px;
}

.text-people{
	color: #ffffff;
	background-image: url(library/img/bg-text-people.jpg);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 550px;
}
.text-people img{
	z-index: 600;
	position: relative;
	text-align: center;
	margin-top: -100px;
}
.text-people hr{
	border-top: 2px solid rgba(255,255,255,.5);
	width: 80%;
}
.text-people a{
	text-decoration: none;
	color: #ffffff;
}
.text-people h5{
	margin-top: 60px;
	font-weight: bold;	
	margin-bottom: 0px;
}
a.boton-yellow{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe94c+0,ffc03f+100 */
	background: #ffe94c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe94c 0%, #ffc03f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffe94c 0%,#ffc03f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffe94c 0%,#ffc03f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe94c', endColorstr='#ffc03f',GradientType=0 ); /* IE6-9 */
	color: #323437;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px #000000;
}

/** Sector historia **/
.historia{
	background-image: url(library/img/bg-jurgen-people.jpg);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 1900px;
	padding-top: 70px;
}
.historia h2{
	font-size: 90px;
	font-weight: bold;
	color: #3f0059;
}
.historia p{
	color: #3f0059;
	font-size: 20px;
}
.historia h5{
	margin-top: 40px;
	font-weight: bold;
}
.libros{
	margin-top: 400px;
	color: #ffffff;
}
.content-libros{
	margin-top: 60px;
}
.libros h3{
	color: #ffffff;
	font-size: 28px;
	letter-spacing: 1px;
	font-weight: bold;
}
.libros h3 span{
	color: #ffe700;
}

.imagen-libros, .text-libros{
	display: inline-block;
	vertical-align: middle;
}
.content-libros h4{
	margin-bottom: 10px;
	font-size: 28px;
	line-height: 32px;
	font-weight: bold;
	letter-spacing: .3px;
}
.content-libros p{
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
}
.text-libros{
	margin-top: 100px;
}
.temas{
	background-image: url(library/img/bg-cerebro.jpg);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 2700px;
	padding-top: 50px;
}
.tema1{
	margin-top: 80px;
}
.tema-numero p{
	font-size: 180px;
	font-weight: bold;
	line-height: 0px;
}
.tema-text p{
	letter-spacing: 1px;
	right: 10px;
	position: relative;
	font-size: 41px;
	line-height: 40px;
	font-weight: bold;
}
.tema-text p span{
	color: #3e0068;
}
.tema-numero, .tema-text{
	display: inline-block;
}
.temas-informacion{
	color: #3e0068;
}
.temas-informacion p{
	font-size: 18px;
}
.temas-informacion p strong{
	font-size: 18px;
	margin-bottom: 0px;
}
.temas-informacion p{
	margin-bottom: 0px;
}
.temas-informacion h3{
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing: 1.5px;
}

/** Certificado BiiA **/
.logo-biia{
	padding-top: 30px;
	background-image: url(library/img/bg-5.png);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 360px;
}
.logo-biia img{
	max-width: 100%;
}
img.sello{
	position: relative;
	margin-top: -130px;
}

/** Certificados **/
.certificados{
	padding-top: 70px;
	background-image: url(library/img/bg-certificados.png);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 700px;
}
.certificados img{
	margin-bottom: 20px;
}
.certificados p{
	color: #3e0068;
	font-size: 22px;
	line-height: 24px;
}
.certificados h5{
	font-weight: bold;
}

/** Locaciones **/
.locaciones{
	padding-top: 30px;
	background-image: url(library/img/bg-3.png);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 600px;
}
.locaciones h3{
	letter-spacing: 1.5px;
	font-weight: bold;
	color: #3e0068; 
}
.locaciones p{
	color: #3e0068; 
	font-size: 16px;
}
.locaciones img{
	margin-top: 20px;
}
/** Tikets **/
.tickets{
	background: #300034;
	padding-top: 30px;
}
.tickets h3{
	color: #ffffff;
	letter-spacing: 1.5px;
	font-weight: bold;
}
.tickets h4{
	color: #ffffff;
	font-size: 20px;
}
.plan-ticket{
	padding: 20px 20px;
	border-radius: 0px 0px 5px 5px;
	background: #ffffff;
	min-height: 600px;
	max-width: 100%;
}
.title-plata, .title-oro{
	padding-top: 20px;
	border-radius: 5px 5px 0px 0px;
	height: 50px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: rgb(149,149,149); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */

}
.title-oro{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b9ac1c+0,e8dd72+46,e8dd72+50,e8dd72+53,b9ac1c+76,b9ac1c+87,b9ac1c+100 */
background: rgb(185,172,28); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(185,172,28,1) 0%, rgba(232,221,114,1) 46%, rgba(232,221,114,1) 50%, rgba(232,221,114,1) 53%, rgba(185,172,28,1) 76%, rgba(185,172,28,1) 87%, rgba(185,172,28,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(185,172,28,1) 0%,rgba(232,221,114,1) 46%,rgba(232,221,114,1) 50%,rgba(232,221,114,1) 53%,rgba(185,172,28,1) 76%,rgba(185,172,28,1) 87%,rgba(185,172,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(185,172,28,1) 0%,rgba(232,221,114,1) 46%,rgba(232,221,114,1) 50%,rgba(232,221,114,1) 53%,rgba(185,172,28,1) 76%,rgba(185,172,28,1) 87%,rgba(185,172,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9ac1c', endColorstr='#b9ac1c',GradientType=0 ); /* IE6-9 */


}
.title-plata h4, .title-oro h4{
	font-weight: bold;
	letter-spacing: 1px;
}
.title-oro h4{
	color: #000000;
}
.plan-ticket p{
	margin-bottom: 0px;
	font-size: 16px;
}
.plan-ticket h5{
	letter-spacing: 1px;
	font-size: 22px;
	font-weight: bold;
}
.plan-ticket h5 span{
	font-size: 14px;
}
.plan-ticket ul li{
	line-height: 18px;
}
.line-precio-preventa hr{
	width: 50%;
	margin-bottom: 10px;
	margin-top: 0px;
	border-top: 2px solid #737273;
}
a.boton-comprar-tickets{
	font-size: 16px;
	width: 100%;
	padding: 20px 10px;
	text-decoration: none;
	color: #ffffff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9a239+0,ce7325+100 */
background: rgb(233,162,57); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(233,162,57,1) 0%, rgba(206,115,37,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(233,162,57,1) 0%,rgba(206,115,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(233,162,57,1) 0%,rgba(206,115,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9a239', endColorstr='#ce7325',GradientType=0 ); /* IE6-9 */

}
a.boton-comprar-tickets:hover{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9a239+0,ce7325+100 */
background: rgb(233,162,57); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(233,162,57,1) 0%, rgba(206,115,37,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(233,162,57,1) 0%,rgba(206,115,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(233,162,57,1) 0%,rgba(206,115,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9a239', endColorstr='#ce7325',GradientType=1 ); /* IE6-9 */
}
.call-to-action{
	margin-top: 60px;
	color: #ffffff;
}
.call-to-action h4{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
}
.call-to-action h4 span{
	color: #ffe600;
}
.call-to-action img{
	margin-bottom: 30px;
}
.text-tel p{
	font-size: 30px;
	letter-spacing: 1px;
	margin-bottom: 0px;
	line-height: 50px;
	margin-left: 10px;
}
.text-tel p a{
	color: #ffe600;
	font-size: 60px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
}
.icon-tel, .text-tel{
	display: inline-block;
	vertical-align: middle;
}

.text-consignacion p{
	line-height: 20px;
}
.text-consignacion a{
	color: #ffe600;
	text-decoration: none;
	font-size: 18px;
}

/** Plaza Mayor **/
.plaza-mayor{
	padding-top: 30px;
	background-image: url(library/img/bg-plaza-mayor.jpg);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 930px;
	color: #ffffff;
	z-index: 400;
}
.plaza-mayor h4{
	 font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
}
.plaza-mayor h4 span{
	color: #ffe600;
}
.plaza-mayor h5{
	margin-top: 40px;
	font-weight: bold;
}
.fotos{
	margin-top: -400px;
	background-image: url(library/img/bg-fotos.png);
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		-moz-background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 1000px;
	z-index: 500;
}
/** Footer **/
footer{
	background: #000000;
	color: #ffffff;
	padding: 20px 0px;
}
footer p{
	margin-bottom: 0px;
}
footer p img{
	margin-left: 10px;
}
footer p, footer p img{
	vertical-align: middle;
}

div.pricing-boton{
   text-align: center;
   position: absolute;
   bottom:30px;
}
#inline h3{
	font-size: 28px;
}

.error{
	font-size: 12px;
	background: #BC1010;
	color: #ffffff;
	padding: 6px 12px;
	position: relative;
	top: -10px;
	border-radius: 4px;
	letter-spacing: .5px;
}
.result_ok{
	background: #1EA700;
	color: #ffffff;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
	letter-spacing: .5px;
}
/*------------------------------------*\
    $MEDIA-QUERIES
\*------------------------------------*/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		header{
			text-align: center;
		}
		.logo img{
			max-width: 60%;
			text-align: center;
		}
		.datos-ciudad-header, .datos-tel-header{
			margin-top: 10px;
		}
		.datos-ciudad-header p{
			font-size: 16px;
		}
		.datos-ciudad-header img{
			max-width: 50px;
		}
		.datos-tel-header a{
			font-size: 16px;
		}
		.datos-tel-header img{
			max-width: 30%;
		}
		nav ul{
			text-align: center;
		}
		nav ul li a{
			padding: 0px 5px;
			font-size: 16px;
		}
		a.boton-ticket-header{
			margin-top: 10px;
		}
		.bloque-purpura{
			margin-top: 250px;
		}
		.formulario input[type="submit"]{
			font-size: 14px;
			text-align: center;
		}
		.text-people img{
			margin-top: 800px;
		}
		.people img{
			text-align: center;
			max-width: 100%;
			margin-top: 350px;
		}
		.historia h2{
			font-size: 30px;
		}
		.historia p{
			font-size: 16px;
		}
		.tema-numero p{
			font-size: 80px;
		}
		.tema-text p{
			font-size: 20px;
			line-height: 20px;
		}
		.certificados h5{
			font-size: 14px;
		}
		.temas{
			min-height: 3100px;
		}
		.logo-biia{
			min-height: 250px;
		}
		img.sello{
			width: 30%;
		}
		.locaciones{
			min-height: 300px;
		}
		.call-to-action h4, .text-tel p {
			font-size: 18px;
		}
		.text-tel p {
			margin-bottom: 5px;
		}
		.text-tel p a{
			font-size: 26px;
		}
		.icon-tel img{
			display: none;
		}
		.plaza-mayor img{
			margin-bottom: 20px;
		}
		#inline h3{
			font-size: 20px;
		}
		#inline input[type="submit"]{
			font-size: 14px;
		}
		#inline label{
			font-size: 12px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		header{
			text-align: center;
		}
		.logo img{
			max-width: 60%;
			text-align: center;
		}
		.datos-ciudad-header, .datos-tel-header{
			margin-top: 10px;
		}
		.datos-ciudad-header p{
			font-size: 16px;
		}
		.datos-ciudad-header img{
			max-width: 50px;
		}
		.datos-tel-header a{
			font-size: 16px;
		}
		.datos-tel-header img{
			max-width: 30%;
		}
		nav ul{
			text-align: center;
		}
		nav ul li a{
			padding: 0px 5px;
			font-size: 16px;
		}
		a.boton-ticket-header{
			margin-top: 10px;
		}
		.bloque-purpura{
			margin-top: 270px;
		}
		.formulario input[type="submit"]{
			font-size: 14px;
			text-align: center;
		}
		.text-people img{
			margin-top: 800px;
		}
		.people img{
			text-align: center;
			max-width: 100%;
			margin-top: 350px;
		}
		.historia h2{
			font-size: 30px;
		}
		.historia p{
			font-size: 16px;
		}
		.tema-numero p{
			font-size: 80px;
		}
		.tema-text p{
			font-size: 20px;
			line-height: 20px;
		}
		.certificados h5{
			font-size: 14px;
		}
		.temas{
			min-height: 3100px;
		}
		.logo-biia{
			min-height: 250px;
		}
		img.sello{
			width: 30%;
		}
		.locaciones{
			min-height: 300px;
		}
		.call-to-action h4, .text-tel p {
			font-size: 18px;
		}
		.text-tel p {
			margin-bottom: 5px;
		}
		.text-tel p a{
			font-size: 26px;
		}
		.icon-tel img{
			display: none;
		}
		.plaza-mayor img{
			margin-bottom: 20px;
		}
		#inline h3{
			font-size: 20px;
		}
		#inline input[type="submit"]{
			font-size: 14px;
		}
		#inline label{
			font-size: 12px;
		}
		.mauricio-people img{
			right: 0px;
			left: 0px;
		}
		.text-people p, .text-people img, .text-people a, .text-people hr{
			display: none;
		}
	}